.admin_col_1 {
  flex: 1;
}

.admin_panel_flex {
  display: flex;
  height: calc(100vh - 7.5vh);
  overflow: auto;
}

.admin_col_4 {
  flex: 4;
  box-shadow: -4px 9px 6px 1px #ebeff3;
  border-left: 1px solid #ebeef0;
  overflow-y: auto;
  width: 80%;
}

@media screen and (max-width: 700px) {
  .admin_panel_flex {
    flex-direction: column !important;
  }
  .admin_col_4 {
    width: 100% !important;
  }
}

.header {
  display: flex;
  justify-content: flex-end;
  padding: 1.3vh 2vw;
  gap: 20px;
  box-shadow: -4px 9px 6px 1px #ebeff3;
  background-color: #ebeff3;
}
